.center {
    text-align: center;
}
.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
}
.container {
    margin-top: 30px;
}

img {
    max-width: 150px;
}

.greeting {
    height: 75px;
}

.clock-body {
    position: relative;
}

.clock-outline {
    border: 10px solid #E01A5E;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: auto;
}
.middle-dot {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top: 245px;
    margin: auto;
}

.second-hand {
    width: 3px;
    height: 250px;
    background-color: black;
    position: relative;
    margin: auto;
    top: -10px;
    transform-origin: bottom center;
}

.minute-hand {
    width: 5px;
    height: 200px;
    background-color: black;
    position: relative;
    margin: auto;
    top: -210px;
    transform-origin: bottom center;
}

.hour-hand {
    width: 7px;
    height: 100px;
    background-color: black;
    position: relative;
    margin: auto;
    top: -310px;
    transform-origin: bottom center;
}

.hourContain {
    height: 240px;
    position: absolute;
    top: 18px;
    right: 410px;
    transform-origin: bottom center;
    width: 50px;
}

.hourNum {
    text-align: center;
    font-size: 25px;
}

.hourTic {
    width: 2px;
    background-color: black;
    height: 10px;
    margin: 0 auto 10px auto;
}